<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Session</title>
    <link rel="stylesheet" href="/static/stylesheets/user1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <div class="container1">
        <div class="header">
            <div class="nit">
                <div class="css1"><img src="/static/Images/Logo.png" alt="" srcset=""></div>
                <div class="nit-logo">
                    <img src="/static/Images/NIT_Durgapur_Logo.svg.png" alt="">
                </div>
            </div>
            <div class="vision">
                Alumni Interview Experience Sharing Platform
                <div class="login">
                    <button class="login-btn"  id="login" onclick="getsignup()">Login</button>
                </div>
            </div>
        </div>
        <div class="view">
            <div class="post">
                <div class="personal">
                    <p class="name" id="name">Name: <span>Md Fahim Uddin Choudhary</span> </p>
                    <p class="mail" id="mail">Email: <span>fahimcoll69@gmail.com</span> </p>
                </div>
                <div class="display" id="display">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, architecto dolorem placeat voluptatibus inventore eveniet provident ipsum ullam, itaque, ab officiis nam corporis. Ipsam perferendis enim pariatur corporis sit, recusandae eius quia et! Officiis quos suscipit modi fugiat, adipisci vel minima. Natus officiis sed explicabo nam nobis expedita architecto tempore deleniti voluptatum dolorum, velit ex, totam aliquam dignissimos adipisci quae cumque! Sed, explicabo voluptatibus rem tenetur dolore ipsam deleniti perspiciatis accusantium autem minima neque natus ipsum a in sunt aut nisi eos temporibus soluta! Sapiente itaque consequuntur hic similique, cum quae deleniti iste mollitia, a nemo sunt laboriosam tempora neque.
                </div>
                <div class="like">
                    <button class="btn2" id="like-btn"><i class='bx bx-like' onclick="toggle_liked()"></i></button>
                    <button class="btn21 " id="liked-btn" ><i class='bx bxs-like' onclick="toggle_like()"></i></button>
                    <button class="btn22" id="next-btn" >Next</button>
                    
                </div>
            </div>
            <div class="comments">
                <div class="comment1">
                    <textarea name="comment" class="comment2" id="comment" cols="30" rows="10"></textarea>
                    <div class="add-btn">
                        <button class="add-comment" id="add-comment">Add Comment</button>
                    </div>
                </div>
                <div class="more-comment">
                    <div class="first">More Comments:</div>
                    <div class="second"></div>
                    <div class="second"></div>
                    <div class="second"></div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="/static/script/user1.js"></script>
</html>