<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/stylesheets/user2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="vision">
                Alumni Interview Experience Sharing Platform
            </div>
            <div class="personal">
                <div class="data">
                    <div class="photo"></div>
                <div class="name">
                    <div class="name1">Name:- <span>Md Fahim Uddin Choudhary</span> </div>
                    <div class="name1">Email:- <a href="mailto:fahimcoll69@gmail.com">fahimcoll69@gmail.com</a>
                    </div>
                    <div class="name1">Alumni Batch:- <span>2026</span> </div>
                </div>
                </div>
                <div class="designation">
                    <div class="desig">Designation</div>
                    <div class="desig">Current:- <span>SDE,Microsft</span> </div>
                    <div class="desig">Formerly:- <span>SDE,Amazon</span> </div>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="handle">
                <div class="newpost"> <button class="btn">Newpost</button>  </div>
                <div class="newpost"> <button class="btn">Comments</button>  </div>
                <div class="newpost"> <button class="btn">Likes</button>  </div>
                <div class="newpost"> <button class="btn">Messages</button>  </div>
                <div class="newpost"> <button class="btn">Messages</button>  </div>
                <div class="newpost"> <button class="btn">Messages</button>  </div>
                <div class="newpost"> <button class="btn">Messages</button>  </div>
                <div class="newpost"> <button class="btn">Messages</button>  </div>
                <!-- <div class="newpost"> <button class="btn">Messages</button>  </div> -->
            </div>
            <div class="post">
                <div class="first">
                    Newpost:
                </div>
                <div class="post-data">
                    <textarea name="post" id="post" class="post-box" maxlength="500"  col placeholder="Write your Interview Experience here"></textarea>
                </div>
                <div class="btn-post">
                    <button class="btn1"><i class='bx bx-like'></i></button>
                    <button class="btn1">Post</button>
                </div>
            </div>
            <div class="comments">
                <div class="comm">Comments:</div>
                <div class="comment-box">
                    <div class="text"> <span class="comment1">This is a very bad review</span> </div>
                    <div class="text"> <span>This is a very bad review</span> </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/script/user2.js"></script>

</body>

</html>